<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serviceName" value="RemoteAgent.Service Name"/>
		<add key="serviceDisplayName" value="RemoteAgent.Service DisplayName"/>
		<add key="serviceDescription" value="RemoteAgent.Service Description"/>

		<add key="TcpListenerPort" value="8085"/>
		<add key="TcpBackLogSize" value="120"/>
		<add key="UdpBeaconPort" value="8187"/>
		<add key="UdpBeaconPollingInterval" value="10000"/>
		<add key="AgentName" value="PC Service agent"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>