<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serviceName" value="RemoteAgent.Service Name"/>
		<add key="serviceDisplayName" value="RemoteAgent.Service DisplayName"/>
		<add key="serviceDescription" value="RemoteAgent.Service Description"/>
		<add key="ListenerPort" value="8087"/>
		<add key="BeaconPort" value="8187"/>
		<add key="BufferSize" value="1024"/>
		<add key="BeaconPollingInterval" value="10000"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>